<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="assets/images/yego-logo.png" alt="DGPay" />
        </div>
        <div class="card text-center">
          <div class="header">
            <p class="lead">Verifying User Account</p>
          </div>
          <div class="body">
            <button
              type="submit"
              class="btn btn-client btn-lg btn-block"
              *ngIf="!isLoading"
              (click)="verifyUserEmail()"
            >
              Resend Verification Link
            </button>

            <button class="btn btn-client btn-lg btn-block" [disabled]="true" *ngIf="isLoading">
              <i class="fa fa-spinner fa-spin" style="margin-right: 5px"></i>
              Verifying you, please wait
            </button>
            <div class="bottom mt-4 text-center">
              <span>Go back to <a [routerLink]="['/login']">Login</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="img-wraaper">
        <img src="assets/svgs/login-img2.svg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
