<!--<p *ngFor="let p of allProducts; let i = index">-->
<!--  {{i+1}} - <span (click)="getDetails(p.id)">{{p.name}}</span>-->
<!--</p>-->
<app-inner-shell>
  <div class="row clearfix">
    <div class="col-lg-3 cool-md-6 col-sm-12">
      <div class="card">
        <ul class="pricing body">
          <li><h2>Start</h2></li>
          <li>Responsive Design</li>
          <li>Color Customization</li>
          <li>HTML5 &amp; CSS3</li>
          <li>Styled elements</li>
          <li>
            <h3>$199</h3>
            <span>per month</span>
          </li>
          <li><button class="btn btn-outline-secondary">Join Now</button></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 cool-md-6 col-sm-12">
      <div class="card">
        <ul class="pricing body active">
          <li><h2>Good</h2></li>
          <li>Responsive Design</li>
          <li>Color Customization</li>
          <li>HTML5 &amp; CSS3</li>
          <li>Styled elements</li>
          <li>
            <h3>$299</h3>
            <span>per month</span>
          </li>
          <li><button class="btn btn-primary ">Join Now</button></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 cool-md-6 col-sm-12">
      <div class="card">
        <ul class="pricing body">
          <li><h2>Ultima</h2></li>
          <li>Responsive Design</li>
          <li>Color Customization</li>
          <li>HTML5 &amp; CSS3</li>
          <li>Styled elements</li>
          <li>
            <h3>$399</h3>
            <span>per month</span>
          </li>
          <li><button class="btn btn-outline-secondary">Join Now</button></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 cool-md-6 col-sm-12">
      <div class="card">
        <ul class="pricing body">
          <li><h2>Vip</h2></li>
          <li>Responsive Design</li>
          <li>Color Customization</li>
          <li>HTML5 &amp; CSS3</li>
          <li>Styled elements</li>
          <li>
            <h3>$799</h3>
            <span>per month</span>
          </li>
          <li><button class="btn btn-outline-secondary">Join Now</button></li>
        </ul>
      </div>
    </div>
  </div>
</app-inner-shell>

<app-loader [isLoading]="isLoading"></app-loader>
