<div id="wrapper">
  <div class="vertical-align-wrap">
    <!-- 0751d9 -->
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="assets/images/yego-logo.png" alt="Yego" />
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Set your password</p>
          </div>
          <div class="body">
            <form class="form-auth-small" [formGroup]="setPasswordForm" novalidate (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="signin-email" class="control-label sr-only">Email</label>
                <input
                  type="password"
                  class="form-control"
                  id="signin-email"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div class="form-group">
                <label for="signin-password" class="control-label sr-only">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="signin-password"
                  placeholder="Confirm password"
                  formControlName="confirmPassword"
                />
              </div>
              <button
                type="submit"
                class="btn btn-client btn-lg btn-block"
                [disabled]="!setPasswordForm.valid"
                *ngIf="!isLoading"
              >
                SET PASSWORD
              </button>
              <button class="btn btn-client btn-lg btn-block" [disabled]="true" *ngIf="isLoading">
                <i class="fa fa-spinner fa-spin" style="margin-right: 5px"></i>
                Please wait ...
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="img-wraaper">
        <img src="assets/svgs/login-img2.svg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
