<div id="wrapper">
  <div class="vertical-align-wrap">
    <!-- 0751d9 -->
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="assets/images/logo-light.png" alt="DGPay" />
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Set your password</p>
          </div>
          <div class="body">
            <form class="form-auth-small" [formGroup]="setPasswordForm" novalidate (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="signin-email" class="control-label sr-only">Email</label>
                <input
                  type="password"
                  class="form-control"
                  id="signin-email"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div class="form-group">
                <label for="signin-password" class="control-label sr-only">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="signin-password"
                  placeholder="Confirm password"
                  formControlName="confirmPassword"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!setPasswordForm.valid">
                SET PASSWORD
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
