/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "src/theme/theme-variables";

.search .modal-content {
  background: rgba(245, 245, 245, 0.9);
  height: auto;
  padding: 2rem 0.5rem;
}

.large {
  .modal-dialog {
    max-width: 80vw;
    margin: 1.75rem auto;
  }
}

.medium {
  .modal-dialog {
    max-width: 60vw;
    margin: 1.75rem auto;
  }
}

.small {
  .modal-dialog {
    max-width: 40vw;
    margin: 1.75rem auto;
  }
}

.search-close {
  position: fixed;
}

.search-close {
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  height: 2rem;
  width: 2rem;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $danger;
    color: #f2f5f8;
  }
}

.search .modal-content {
  background: rgba(245, 245, 245, 0.9);
  height: auto;

  .title {
    margin-bottom: 1rem;
    color: #495057;
    font-size: 1rem;
  }

  .sub_title {
    margin-bottom: 0.5rem;
    color: #495057;
    font-size: 1rem;
  }
}

button:focus {
  outline: none;
}

.customer-color {
  color: #3a7cdd;
}

.loan-color {
  color: #6859f3;
}

.revenue-color {
  color: #3eae4d;
}

.btn-16 {
  min-width: 16%;
}

.call-to-action,
.recent-transactions {
  text-align: center;
  color: #707070;

  .card .body {
    padding: 50px 20px 20px;
  }

  .icon {
    width: 150px;
  }

  i {
    font-size: 50px;
    color: #868e96 !important;
  }

  h3 {
    font-size: 1.2rem;
    color: #707070;
  }

  p {
    font-size: 0.7rem;
    color: #707070;
  }

  .btn {
    margin-top: 1rem;
    color: #fff;
    background-color: #ff9e02;
    border-color: #ff9e02;
    box-shadow: none !important;

    &:hover {
      background: transparent;
      color: #ff9e02;
    }
  }

  .btn-secure {
    background-color: $client-40;
    border-color: $client-40;

    &:hover {
      color: $client-40;
    }
  }
}

a {
  color: $client-40;

  &:hover,
  &:active {
    color: $client-60;
  }
}

.auth-main:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: none;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-wraaper {
  position: absolute;
  right: 10%;
  top: 10vh;
  width: 40%;
  margin: auto;
}
