<div class="container-fluid">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem"></app-block-header>
  <div class="row clearfix">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h2>Users List</h2>
        </div>
        <div class="body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-6">
                  <!--                  <div class="shadow p-3 mb-5 bg-white rounded">Search user</div>-->
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="body table-responsive" *ngIf="userObj">
                <table class="table">
                  <thead class="text-uppercase">
                    <tr>
                      <th>#</th>
                      <th>FIRST NAME</th>
                      <th>LAST NAME</th>
                      <th>EMAIL</th>
                      <th>PHONE NUMBER</th>

                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let u of userObj; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ u.firstName }}</td>
                      <td>{{ u.lastName }}</td>
                      <td>{{ u.email }}</td>
                      <td>{{ u.phoneNumber }}</td>

                      <td>
                        <button class="btn btn-sm btn-link" (click)="onViewModal(viewUser, u)">
                          <i class="icon icon-eye text-gray-dark" style="color: #0a0;"></i>
                        </button>
                        <button class="btn btn-sm btn-link" (click)="goto(u.id)">
                          <i class="icon icon-pencil" style="color: #0d69af"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="!userObj">
                <p>Loading...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewUser let-c="close" let-d="dismiss">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="title text-center">User - {{ selectedUser['firstName'] }} {{ selectedUser['lastName'] }}</h2>
        <div class="transaction_status container-fluid d-flex flex-column" *ngIf="selectedUser">
          <ul class="list-group-horizontal-md row px-0">
            <li class="list-group-item col-lg-4 col-md-4">
              ID
              <p>
                <small>{{ selectedUser['id'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-4 col-md-4">
              First Name
              <p>
                <small>{{ selectedUser['firstName'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-4 col-md-4">
              Last Name
              <p>
                <small [innerHTML]="selectedUser['lastName']"></small>
              </p>
            </li>
            <li class="list-group-item col-lg-4 col-md-4">
              Email
              <p>
                <small>{{ selectedUser['email'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-4 col-md-4">
              User Name
              <p>
                <small>{{ selectedUser['userName'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-4 col-md-4">
              Phone Number
              <p>
                <small>{{ selectedUser['phoneNumber'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-4 col-md-4">
              Invite Code
              <p>
                <small>{{ selectedUser['inviteCode'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-4 col-md-4">
              Tenant Id
              <p>
                <small>{{ selectedUser['tenantId'] }}</small>
              </p>
            </li>
          </ul>

          <h3 class="sub_title">Role/Permission</h3>
          <ul class="list-group-horizontal-md row px-0">
            <li class="list-group-item col-lg-3 col-md-3">
              Is Admin
              <p>
                <small>{{ selectedUser['isAdmin'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-3 col-md-3">
              Is Disabled
              <p>
                <small [innerHTML]="selectedUser['isDisabled']"></small>
              </p>
            </li>
            <li class="list-group-item col-lg-3 col-md-3">
              Role Id
              <p>
                <small>{{ selectedUser['roleId'] }}</small>
              </p>
            </li>
            <li class="list-group-item col-lg-3 col-md-3">
              Role Name
              <p>
                <small>{{ selectedUser['roleName'] }}</small>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="search-close" aria-label="Close search form" (click)="closeModel('Close View Modal')">
    <i class="fas fa-times"></i>
  </button>
</ng-template>
