<div class="block-header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-2">
        <div class="body py-3">
          <h2>
            <a class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
              <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
              <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
            </a>
            {{ title }}
          </h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/admin']"><i class="icon-home"></i></a>
            </li>
            <li *ngFor="let b of breadcrumbItem" class="breadcrumb-item {{ b.cssClass }}">
              {{ b.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right d-none">
      <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
        <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true"></div>
        <span>Sign ups</span>
      </div>
      <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">
        <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true"></div>
        <span>Site Visits</span>
      </div>
    </div>
  </div>
</div>
