.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.title {
  font-size: 16px;
  text-align: center;
  padding: 1rem;
  color: #1d771d;
  margin-bottom: 0;
}
